#banniere{
    width:800px;
    height:200px;
    background-color: aquamarine;
    align-items: center;
}

body{
    background: radial-gradient(#EDF2F4,#CCDAE0);
}

header{
    text-align: center;
}

h1{
    color:#EF233C;
    font-weight: 2em;
    font-family: Impact;
    text-decoration: underline dashed;  
}

h3{
    color:#2B2D42;
    text-decoration:underline;
    font-weight: bold;
}

.imgart{
    border: solid 1px;
    margin-left:40vw;
    margin-right:40vw;
}

.article{
    border: solid 1px;
}

footer{
    text-align:right;
}

a{
    color:#D90429;
}

a:hover{
    color:#2B2D42;
}