#banniere{
    width:800px;
    height:200px;
    margin:auto;
    border: solid 15px rgb(128, 124, 124);
    border-radius:1em;
}

body{
    background: radial-gradient(#CCDAE0,#EDF2F4);
}

header{
    text-align: center;
}

h1{
    color:#EF233C;
    font-weight: 3em;
    font-family: Impact;
    font-weight: bold;
}

h3{
    color:#2B2D42;
    text-decoration:underline dashed;
    font-weight: bold;
}

.imgart{
    border: solid 2px #8D99AE;
    margin-left:40vw;
    margin-right:40vw;
}

.article{
    border: solid 1px;
}

footer{
    text-align:right;
}

a{
    color:#D90429;
}

a:hover{
    color:#2B2D42;
}

ul{
    list-style-type: none;
}

span{
    color:red;
}

#pic1{

}

#avion{
    width:350px;
}

#article_blog_droite{
    
}